<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NPL APP | LOGIN PAGE</title>
</head>
<body>

    <h1> NLP APP </h1>
    <h3> Login Here</h3>

    {% if message%}
        <p style="color:green"> {{message}}</p>
    {% endif %}

    <form action="/perform_login" method="post">
        <label> Email</label><br>
        <input type="email" name="user_email" required><br>
        <label> Password</label><br>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>

    <p> Not a member? <a href="http://127.0.0.1:5000/register">Register Here</a> </p>
</body>
</html>