<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NPL APP | REGISTER PAGE</title>
</head>
<body>

    <h1> NLP APP </h1>
    <h3> Register Here</h3>

    {% if message%}
        <p style="color:red"> {{message}}</p>
    {% endif %}

    <form action="/perform_registration" method="post">
        <label> Name</label><br>
        <input type="text" name="user_name" required><br>
        <label> Email</label><br>
        <input type="email" name="email" required><br>
        <label> Password</label><br>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>

    <p> Already a member? <a href="http://127.0.0.1:5000/">Login Here</a> </p>
</body>
</html>